
header {
    width: 100%;
    background: #2e3869;
    box-shadow: 0 4px 6px rgba(15, 32, 75, 0.1);
    padding: 10px 0;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 1000;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navbar-nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: lighter;
    transition: color 0.3s ease-in-out;
}

.navbar-nav a:hover {
    color: #686868;
}


.dropdown button {
    background: #2e3869;
    border: none;
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
}

.dropdown-menu{
  background: #2e3869;
  border: none;
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease-in-out;
}

.btn{
  color: rgb(255, 255, 255);
}

.nav-cart {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: lighter;
    margin-right: 20px;
    transition: color 0.3s ease-in-out;
}

.nav-cart:hover {
    color: #686868;
}


 .cards-section {
    display: flex;
    flex-wrap: wrap;
    gap: 150px;
    justify-content: center; 
    padding: 20px;
  }

  .cards {
    flex: 0 0 300px; 
  }

  .card {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  .img1 {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

.nav-link{
  color: white;
  cursor: pointer;
}



