footer {
    background-color: #2e3869;
    color: #ffffff;
    padding: 10px 0;
    font-family: Arial, sans-serif;
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    box-sizing: border-box;
}

.footer-body {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

body {
    margin-bottom: 60px; 
}

html {
    position: relative;
    min-height: 100%;
}