.background{
  .background {
    position: relative;
    width: 100%;
    height: 100%;  
    padding: 40px 20px;
    z-index: 1;
} 
}

.background::before {
  content: "";
  background-image: url('/assets/homepic.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.6; 
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.background > * {
  position: relative;
  z-index: 1;
}


h3 {
    margin-top: 60px;
    text-align: center;
    font-size: 2rem;
    color: #333;
  }
  
  button {
    background-color: #222;
    text-align: end;
    color: white;
    padding: 10px 16px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  button:hover {
    background-color: #444;
  }
  
  .cards-section {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 50px;
    width: 100%;
  }
  
  .cards {
    flex: 0 0 320px;
  }
  
  .card {
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    background-color: white;
    transition: transform 0.2s ease;
  }
  
  
  .img-cart {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .card-body {
    padding: 16px;
    text-align: center;
  }
  
  .card-title {
    font-size: 1.2rem;
    margin-bottom: 8px;
  }
  
  .card-text {
    font-size: 10px;
    color: #555;
    margin-bottom: 12px;
  }
  
  .card-body span {
    margin: 0 12px;
    font-size: 1.1rem;
    font-weight: bold;
  }
  
  .clear-checkout-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  
  p {
    text-align: center;
    font-size: 1rem;
    color: #333;
  }

  .button{
    margin-left: 47%;
    background-color: #2e3869 ;
  }
  