


<div class="background">

<form>
    <div>
     <h3>Sign In</h3>
        <h6>Or</h6><h6><a class="link" routerLink="signUp"> Create an account</a></h6>
    <div class="form-floating mb-3">
       
        <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com"
        [(ngModel)]="username" name="username"> 
        <label for="floatingInput">Username</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
        [(ngModel)]="password" name="password">
        <label for="floatingPassword">Password</label>
      </div>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
        <label class="form-check-label" for="flexCheckChecked">
          <h6>Remember me</h6>
        </label>
      </div>

      @if(errorMessage){
        <div class="alert alert-danger" role="alert">
          {{ errorMessage }}
        </div>
      }

      <button type="button" class="btn btn-primary" (click)="signIn()">Sign in</button>
    </form>
  </div>
    <!-- 
1.sign up : check if user exists. 
2.if registration is successfull redirect to sign 
3.sign in: incorrect credentials: display red
4.if successfull redirect to home page.
5.display login user name in header
6.when logged in change the sign in name to signout.
7.when clicked on signOut: reloads the home page and header reset. -->
    