body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('/assets/homepic.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;  
}

.header {
    height: 20%;
  
}

.router {
    height: 80%;
    overflow-y: auto;   
   

}

.footer {
    height: 0%;
}
