.cards-section {
    display: flex;
    flex-wrap: wrap;
    gap: 150px;
    justify-content: center; 
    padding: 20px;
  }

  .cards {
    flex: 0 0 300px; 
  }

  .card {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  .img1 {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }