.cards-section {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;  
  justify-content: center; 
  padding: 30px;
  width: 100%;
}

.cards {
  flex: 0 0 320px;
}

.card {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);  
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  
}

  


.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.img1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-body {
  padding: 16px;
  text-align: center;
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 8px;
  color: #222;
}

.card-text {
  font-size: 1rem;
  color: #555;
  margin-bottom: 12px;
}

.btn{
  background-color: #2e3869;
  opacity: 90%;
}