

<div class="page-background">
@if(showHome) {
<div class="hero">

        <img src="/assets/homepic.jpg" alt="Homepage Image">
    <div class="hero-text">
        <h1 class="text1">Online Shopping</h1>
            <h3 class="text2">Welcome to our website</h3>
    </div>
</div>
}

@else {
<div class="home-wrapper with-background">
    
    @if(showSneakers){
        <h2>Sneakers</h2>
        <app-products></app-products>
    }

    @if(showTshirts){
        <h2>Tshirts</h2>
        <app-products></app-products>

    }

    @if(showTrousers){
        <h2>Trousers</h2>
        <app-products></app-products>
    }

    @if(showJackets){
        <h2>Jackets</h2>
        <app-products></app-products>
    }

    @if(showCargo){
        <h2>Cargo</h2>
        <app-products></app-products>
    }

    @if(showJeans){
        <h2>Jeans</h2>
        <app-products></app-products>
    }

    @if(showHoodies){
        <h2>Hoodies</h2>
        <app-products></app-products>
    }

    @if(showCasuals){
        <h2>Casuals</h2>
        <app-products></app-products>
    }
</div>
}

</div>