.hero {
    position: relative;
    text-align: center;
  }
  
  .hero img {
    width: 100%;
    height: 100%;
    display: block;
  }
  
  .hero-text {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
}

.text1 {
    opacity: 0;
    animation: slideInFromLeft 3s forwards;
}

.text2 {
    opacity: 0;
    animation: slideInFromRight 3s forwards;
    animation-delay: 0.5s; 
}


@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%) translateY(-50%);
        opacity: 0;
    }
    100% {
        transform: translateX(-50%) translateY(-50%);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%) translateY(-50%);
        opacity: 0;
    }
    100% {
        transform: translateX(-50%) translateY(-50%);
        opacity: 1;
    }
}


  
  .home-wrapper {
    position: relative;
    padding: 80px;
    z-index: 1;
  }
  
  .home-wrapper.with-background::before {
    content: "";
    background-image: url('/assets/homepic.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
  }
  
  .home-wrapper h2, .home-wrapper app-products, .home-wrapper .filters {
    margin-top: 2%;
    text-align: center;
    position: relative;
    z-index: 1;
  }
  
  .filters {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    z-index: 1;
    position: relative;
  }
  
  .filter-group {
    display: flex;
    flex-direction: column;
    min-width: 150px;
  }