<h1>home</h1>

<div class="home-wrapper">
    
    @if(showSneakers){
        <h2>Sneakers</h2>
        <app-products></app-products>
    }

    @if(showTshirts){
        <h2>Tshirts</h2>
        <app-products></app-products>

    }

    @if(showTrousers){
        <h3>Trousers</h3>
        <app-products></app-products>
    }

    @if(showJackets){
        <h3>Jackets</h3>
        <app-products></app-products>
    }

    @if(showCargo){
        <h3>Cargo</h3>
        <app-products></app-products>
    }

    @if(showJeans){
        <h3>Jeans</h3>
        <app-products></app-products>
    }

    @if(showHoodies){
        <h3>Hoodies</h3>
        <app-products></app-products>
    }

    @if(showCasuals){
        <h3>Casuals</h3>
        <app-products></app-products>
    }
</div>