.hero {
    position: relative;
    text-align: center;
  }
  
  .hero img {
    width: 100%;
    height: 100%;
    display: block;
  }
  
  .hero-text {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
}

.text1 {
    opacity: 0;
    animation: slideInFromLeft 3s forwards;
}

.text2 {
    opacity: 0;
    animation: slideInFromRight 3s forwards;
    animation-delay: 0.5s; 
}


@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%) translateY(-50%);
        opacity: 0;
    }
    100% {
        transform: translateX(-50%) translateY(-50%);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%) translateY(-50%);
        opacity: 0;
    }
    100% {
        transform: translateX(-50%) translateY(-50%);
        opacity: 1;
    }
}

  .home-wrapper {
    display: flex;
    position: relative;
    padding: 40px;
    z-index: 1;
  }
  
  .home-wrapper.with-background::before {
    content: "";
    background-image: url('/assets/homepic.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
  }
  
  .home-wrapper .filters {
    margin-top: 7%;
    text-align: center;
    position: relative;
    z-index: 1;
  }
  .home-wrapper h2, .home-wrapper app-products{
    margin-top: 7%;
    margin-left: 60px;
    text-align: center;
    position: relative;
    z-index: 1;
  }
  
  .product-layout {
    display: flex;
    align-items: flex-start;
  }
  
  .sidebar {
    margin-top: 20px;
    margin-left: 0;
    width: 250px;
    padding: 20px;
    background: #2e3869;
    opacity: 70%;
    border-right: 1px solid #2e3869;
    height: 100vh;
    overflow-y: auto;
    position: fixed;
    overflow-y: auto;

  }
  
  .sidebar-title {
    font-size: 16px;
    color: black;
    font-weight: 600;
    margin: 20px 0 10px;
  }
  
  .category-list p {
    margin: 8px 0;
    color: black;
    cursor: pointer;
    font-size: 14px;
  }
  
  .filters {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .filter-group label {
    display: flex;
    color: black;
    flex-direction: column;
    font-size: 14px;
  }
  
  .filter-group select,
  .filter-group input {
    margin-top: 6px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .clear-btn {
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 250px;
  }


  
  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    z-index: 1;
  }
  
  .sort-section select {
    margin-left: 8px;
    padding: 8px;
    border-radius: 4px;
  }