
h3 {
    text-align: center;
    margin-top: 20px;
    font-size: 28px;
    color: #232f3e; 
  }
  
  
  .order-card {
    border: 1px solid #090909;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    width: 100%;
    max-width: 800px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  
  .order-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #655e5e;
  }

  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  
  li {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-top: 1px solid #eee;
  }
  

  li img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
  
 
  li span {
    font-size: 16px;
    color: #333;
  }
  