<div class="background">
  <h3>My Orders</h3>
  
    <div>
      @for(order of orders; track order.orderDate) {
        <div class="order-card">
          <h3>Date: {{ order.orderDate | date:'short' }}</h3>
          <p>Total: ${{ order.total }}</p>
          <p>User: {{ order.username }}</p>
          <ul>
            
            @for(item of order.items; track item.id) {
              <li>
                <img [src]="item.img" alt="{{ item.name }}">
                <span>{{ item.name }} - ${{ item.price }} x {{ item.quantity }}</span>
              </li>
            }
          </ul>
      
          <button (click)="cancelOrder(order.id)" [disabled]="cancelOrderButton(order.orderDate)"> Cancel Order</button>
        </div>
      }
    </div>
  
  </div>