
.background{
  .background {
    position: relative;
    width: 100%;
    height: 100%;  
    padding: 40px 20px;
    z-index: 1;
} 
}

.background::before {
  content: "";
  background-image: url('/assets/homepic.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.6; 
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  overflow: auto;
}

.background > * {
  position: relative;
  z-index: 1;
}


h3 {
    text-align: center;
    margin-top: 70px;
    font-size: 28px;
    color: #232f3e; 
  }
  
  
  .order-card {
    border: 1px solid #090909;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    width: 100%;
    max-width: 800px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  
  .order-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #655e5e;
  }

  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  
  li {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-top: 1px solid #eee;
  }
  

  li img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
  
 
  li span {
    font-size: 16px;
    color: #333;
  }
  